$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;  
}

.center {
    text-align: center;
}

// BACKGROUND IMAGE 

#background-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
   
  filter: sepia(10%);
  filter: grayscale(30%);
 }

@media screen and (max-width: 1024px) { /* Specific to this particular image */
#background-image {
  left: 50%;
  margin-left: -500px;   /* 50% */
  }
}

.title {
    margin-left: 80px;
}

#intro, #description {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

#intro {
    padding-top: 80px;
}

#name {
    font-family: 'Lustria', serif;
    font-size: 102px;
}

// NAVBAR

.navbar {
    background: none;
    border: none;
}

.nav {
    width: 100px;
}

.navbar .nav > li {
    margin: 2px 4px;
    width: 90px;
    height: 30px;
    text-align: center;
}

.navbar .nav > li > a {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 300;
    padding: 12px;
    border-right: 1px solid black;
}

.navbar .nav > li > a:hover {
    color: rgb(203, 90, 33);
}

// ABOUT ME

.about-me {
    margin-top: 320px;
    margin-left: 40px;
    height: 760px;
    // background-color: rgb(100, 111, 41, 0.4);

    p {
        font-size: 20px;
        color: black;
    }
}

#about-paragraphs {
    margin-top: 100px;
}

#my-about {
    margin-top: 120px;
}

// MY WORK

.my-work {
    height: 1120px;
    background-color: rgb(176, 192, 197);

    h3 {
        font-size: 20px;
    }
}

.first-row {
    margin-top: 90px;
}

.caption {
    font-family: 'Lustria', serif;
}

.thumbnail {
    background-color: rgb(176, 192, 197);
    border: none;
}

// CONNECT 

.avatar {
    border-radius: 50%;
    opacity: 0.9;
    margin-top: 40px;
    width:  280px;
    margin-left: 138px;
    filter: drop-shadow(-4px 4px 6px black);
}

.connect {
    height: 720px;
    p {
        margin-top: 20px;
        margin-left: 70px;
        font-size: 20px;
    }

    h2 {
        margin-top: 18px;
        margin-left: 70px;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        font-weight: 300;
    }

    li {
        list-style-type: none;
        display: inline-block; 
    }

    li > img {
        width: 40px;
        margin: 0 42px 0 24px;
        opacity: 0.7;
    }
}

#social-icons {
    margin-top: 32px;
}

#mail {
    width: 40px;
}

#legal-stuff {
    margin-top: 200px;
    color: rgb(203, 208, 208);
    font-weight: 300;

    a {
        color: rgb(232, 170, 108);
    }
}

// RESPONSIVE

@media (max-width: 1180px) {
    .title {
        margin-top: 48px;
    }

    #name {
        font-size: 78px;
    }
}



















